[Desktop Entry]
Type=Application
Version=1.0
Name=Aseprite
Comment=Animated sprite editor and pixel art tool
# CHANGE THIS to the absolute path of your aseprite binary:
Exec=/home/amric/.tool/aseprite/aseprite %F
# CHANGE THIS to the absolute path of your aseprite icon:
#Icon=/home/YOUR_USERNAME/path/to/aseprite/src/shared/pixmaps/ase_64.png
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/gif;image/bmp;
